<form name="editForm" data-ng-submit="editForm.$valid && edit.save()" novalidate>
    <label for="name">
        <span class="placeholder">name</span>
        <input id="name" name="name" ng-model="edit.contact.name" required type="text" />
        <span ng-show="editForm.$submitted && editForm.name.$error.required">name is required</span>
    </label>
    <br/>
    <label for="position">
        <span class="placeholder">position</span>
        <input id="position" name="position" ng-model="edit.contact.position" required type="text" />
        <span ng-show="editForm.$submitted && editForm.position.$error.required">position is required</span>
    </label>
    <br/>
    <label for="email">
        <span class="placeholder">email</span>
        <input id="email" data-email-validation name="email" ng-model="edit.contact.email" required type="email" />
        <span ng-show="editForm.$submitted && editForm.email.$error.required">email is required</span>
        <span ng-show="editForm.$submitted && editForm.email.$error.email">it looks an invalid email</span>
    </label>
    <br/>
    <label for="phone">
        <span class="placeholder">phone</span>
        <input id="phone" ng-model="edit.contact.phone" type="text" />
    </label>
    <br/>
    <label for="birth">
        <span class="placeholder">birth</span>
        <input id="birth" ng-model="edit.contact.birth" type="text" />
    </label>
    <br/>
    <label for="country">
        <span class="placeholder">country</span>
        <input id="country" ng-model="edit.contact.country" type="text" />
    </label>
    <br/>
    <label for="city">
        <span class="placeholder">city</span>
        <input id="city" ng-model="edit.contact.city" type="text" />
    </label>
    <br/>
    <label for="street">
        <span class="placeholder">street</span>
        <input id="street" ng-model="edit.contact.street" type="text" />
    </label>
    <br/>
    <!--
    <div>{{ member.phone }}</div>
    <div>{{ member.birth }}</div>
    <div>{{ member.country }}</div>
    <div>{{ member.city }}</div>
    <div>{{ member.street }}</div>
    -->
    <label for="avatar">
        <span class="placeholder">avatar</span>
        <input id="avatar" data-img-to-base64 type="file" />
        <img data-ng-src="{{ edit.contact.avatar }}" />
    </label>
    <br/>
    <br/>
    <button type="submit">save</button>
</form>